header{
   background-color: #EAC926;
}
header i{
   color: black;
}
.logo{
   margin: 20px;
   width: 140px;
}
.cont__lupa{
   background-color: #ebebeb;
   width: 15px;
   padding: 2px;
}
.icono__y__texto p, .icono__y__texto i{
   display: inline-block;
   text-align: center;
}
header .icono__y__texto{
   display: flex;
   /*align-items: center;*/
   justify-content: center
}
header .burger-menu{
   background-color: #1259c3;
   display: inline-block;
   border-radius: 5px;
   padding: 10px;
   margin: 50px;
   width: auto;
}

header .burger-menu i{
   color: #ebebeb;
   font-size: 2em;
}