header{
   background-color: #EAC926;
 }

header .burger-menu{
   background-color: #1259c3;
   display: inline-block;
   /*margin: auto*/
   padding: 10px;
   border-radius: 5px;
 }

 header .burger-menu i{
   color: #ebebeb;
   font-size: 2em;
 }