header{
   background-color: var(--colorAmarillo);
   height: auto;
}
header i{
   color: black;
}
.cont__barra__busquedas{
   margin-left: 15px;
   display: flex;
}
.logo{
   margin: 20px;
   width: 140px;
}
input{
   margin-right: 5px;
}
.cont__lupa{
   background-color: var(--colorGrisClaro);
   width: 20px;
   padding: 2px;
}
.icono__y__texto p, .icono__y__texto i{
   display: inline-block;
   text-align: center;
}
header .icono__y__texto{
   margin: 15px;
   display: flex;
   justify-content: center;
   /*align-items: center;*/
}
header nav{
   margin: 0;
   padding-bottom: 20px;
   margin-left: 15px;
   display: none;
}
li a{
   /*color: var(--colorGrisOscuro);*/
   color: #000;
}
.cont__burger{
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   
}
header .burger-menu{
   background-color: var(--colorCeleste);
   border-radius: 5px;   
   padding: 10px;
   margin-bottom: 20px;
}
header .burger-menu i{
   color: var(--colorGrisClaro);
   font-size: 2em;
}
/*Tablet*/
@media (min-width:361px) {
   .cont__burger{
      display:none;
  }
  header nav{
      display: block;
  }
}
@media (min-width:769px) {
    
}