main{
    width: 100%;
    background-color: var(--colorGrisClaro);
}
main .banner{
    width: 100%;
}
section{
    width: 90%;
    background-color: red;
    margin: 0 auto;
}
section h3{
    width: 100%;
    margin: 10px;
}
section article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main section article{
    margin: 10px 0;
}
article .imagen__tarjeta{
    width: 100%;
    height: auto;
}
.contenedor__conjunto{
    width: 100%;
    background-color: #FFF;
    border: 1px solid var(--colorGrisClaro);
    padding: 15px;
}
.contenedor__conjunto .descripciones{
    color: var(--colorGrisOscuro);
    display: none;
}
.contenedor__conjunto{
    position: relative;
    display: flex;
}
.contenedor__conjunto i{
    display: block;
    font-size: 20px;
    padding: 10px;
    width: 45px;
    height: 45px;
    border: 1px solid var(--colorVerde);
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 25px;;
    top: -20px;
}
.contenedor__conjunto i, .descuentos{
    color: var(--colorVerde);
    justify-content: space-between;
}
/*
.contenedor__icono__truck{
    border: 1px solid var(--colorVerde);
    padding: 10px;
    width: 50px;
    height: auto;
    border-radius: 50%;
    font-size: 20px;
}
.contenedor__icono__truck, .descuentos{
    color: var(--colorVerde);
}*/
.descuentos{
    flex-direction: row;
    margin-left: 10px;
}
/*Tablet*/
/*@media (min-width:361px) {*/
@media (min-width:768px) {
    main{
        margin-bottom: 6%;
    }
    main section article{ 
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .contenedor__conjunto .descripciones{
        font-weight: normal;
        display: block;
        margin-left: -125px;
        margin-top: 40px
    }
    main section{
        width: 100%;
        display:flex;
        /*flex-direction: row;*/
        flex-wrap: wrap;        
        justify-content: space-between;
    }
    article{
        width: 50%;
        height: auto;
    }
}
@media (min-width:769px) {
    /*Estilos desktop*/
}