main{
    width: 100%;
    background-color: var(--colorGrisClaro);
}
main .banner{
    width: 100%;
}
main section{
    width: 90%;
    display: flex;
    flex-direction: column;
}
section article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main section article{
    margin: 10px 0;
    align-items: center;
}
article .imagen__tarjeta{
    width: 100%;
    height: auto;
}
.contenedor__conjunto{
    width: 100%;
    background-color: #FFF;
}
.contenedor__icono__truck{
    border: 1px solid var(--colorVerde);
    padding: 10px;
    width: 15%;
    height: 15%;
    border-radius: 50%;
    font-size: 20px;
}
.contenedor__icono__truck, .descuentos{
    color: var(--colorVerde);
}
