.button__primary:hover{
    transition: all 3s;
    background-color: var(--colorAzulTransition);
}

/*Tablet*/
/*@media (min-width:361px) {*/
@media (min-width:530px) {
    .form__login div label{
        display: block;
        font-size: 20px;
    }
}

/*@media (min-width:769px) {*/
@media (min-width:1020px) {
    /*Estilos desktop*/
}