/*main{
    width: 100%;
}
.form__register{
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 90%;
    margin: 0 auto; }*/

    .form__register{
        width: 100%;
    }
.box__end{
    width: 100%;
}